.card {
    height: 105vh;
}
.title {
    font-size: rem(70px);
    font-weight: 900;
    letter-spacing: rem(-2px);
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.taskSmallTitle {
    font-size: rem(20px);
    font-weight: 800;
    margin: 20px;
    justify-content: center;
    text-align: center;
}
