.timeline{
    padding-top: 200px;
}

.progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    background: white;
    bottom: 100px;
}

.title {
    font-size: rem(100px);
    font-weight: 900;
    letter-spacing: rem(-2px);
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.taskSmallTitle {
    font-size: rem(20px);
    font-weight: 800;
    margin: 20px;
    justify-content: center;
    text-align: center;
}

.taskSmallTitleBigger {
    font-size: rem(30px);
    font-weight: 800;
    margin: 20px;
    justify-content: center;
    text-align: center;
}

.taskSmallTitleEvenBigger {
    font-size: rem(80px);
    font-weight: 800;
    margin: 20px;
    justify-content: center;
    text-align: center;
}
